<!doctype html>
<html>
<head>
	<title>I.T. Equipment Management Software | I.T.E.M.S.</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
	<script src="/javascripts/clickActions.js" type="text/javascript"></script>
</head>
<body>
	<header class="carousel-inner">
		<img src="/images/pexels-photomix-company-291777_banner.jpg" alt="Office Laptop" style="width: 100vw;">
		<p>
		<center style="padding: 10px;">
			<h3>I.T.E.M.S.</h3>
			<h5>I.T. Equipment Management System</h5>
		</center>
	</header>
	<div class="panel-body">
		<main align="center"><h4>{{title}}</h4></main>
		{{{body}}}
	</div>
	
	<footer style="background-color:rgb(203, 224, 255); padding: 10px;">
		<center>
		Praveen Bachoti. METCS602.
		</center>
	</footer>

</body>
</html>

<!-- 
	Sources:
	Bachoti, Praveen. CS602_HW3_Bachoti. METCS602. Boston University, 15 August, 2022.
	CSS. Bootstrap. https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css. 20 August, 2022.
	“Font Awesome Introduction.” Font Awesome Intro, https://www.w3schools.com/icons/fontawesome_icons_intro.asp. 
	“Icons.” Font Awesome, https://fontawesome.com/icons/. 
	PhotoMIX Company. Silver Laptop Computer on Table. https://www.pexels.com/photo/silver-laptop-computer-on-table-291777/. 13 August, 2022.
	Thornton, Jacob, and Mark Otto. “Bootstrap - Introduction.” GetBootstrap, https://getbootstrap.com/docs/4.0/. 
-->

