<div class="container">
	<center>
		<div class="d-inline-flex" style="padding: 20px; justify-content: stretch"> 

		<div class="card" style="width: 18rem; flex: 1">
		<div class="card-body">
			<h5 class="card-title"><i class="fa fa-solid fa-plus"></i>&nbsp;New Request</h5>
			<p class="card-text">Create a new request for I.T. equipment.</p>
			<a class="card-link" href="/requests/create">Start</a>
		</div>
		</div>&nbsp;&nbsp;&nbsp;
		<div class="card" style="width: 18rem; flex: 2">
		<div class="card-body">
			<h5 class="card-title"><i class="fa fa-solid fa-wrench"></i>&nbsp;Administrative</h5>
			<p class="card-text">View I.T. equipment management records of inventory and employee requests.</p>
			<a class="card-link" href="/inventory">Inventory</a>
			<a class="card-link" href="/requests">Employee Requests</a>
		</div>
		</div>

		</div>
	</center>
	<br/><br/>
</div>

<!--
	Sources:
	Bachoti, Praveen. CS602_HW3_Bachoti. METCS602. Boston University, 15 August, 2022.
	“Font Awesome Introduction.” Font Awesome Intro, https://www.w3schools.com/icons/fontawesome_icons_intro.asp. 
	“Icons.” Font Awesome, https://fontawesome.com/icons/. 
	Thornton, Jacob, and Mark Otto. “Bootstrap - Introduction.” GetBootstrap, https://getbootstrap.com/docs/4.0/. 
	Thornton, Jacob, and Mark Otto. “Cards.” GetBootstrap, https://getbootstrap.com/docs/4.0/components/card/. 
-->